/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --main-color: #006769;
    --second-color: black;
}
section{
    padding: 50px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8FFFB;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icons{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: hsl(54, 100%, 93%);
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }  
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}
.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: #fff;
    background: darkcyan;
}
.heading{
    text-align: center;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
.program-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.program-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.program-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}
.program-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.stars{
    margin: 1rem 0 0.1rem;
}
.program-container .box .stars .bx{
    color: #F8FFFB;
}
.program-container .box h2{
    color: #F8FFFB;
    font-size: 1.2rem;
}
.program-container .box span{
    color: #ebdbc8;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}
.box .btn{
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}
.box .btn:hover{
    background: #ebdbc8;
    color: var(--second-color);
}
.services{
    background: hsl(53, 100%, 93%);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.amenities-img{
    flex: 1 1 21rem;
}
.amenities-text{
    flex: 1 1 21rem;
}
.amenities-text h2{
    font-size: 1.5rem;
}
.amenities-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.community__container {
    display: flex;
    align-items: center;
}

.community__content {
    flex: 1; 
}

.community__content h4 {
    font-size: 1.5rem;
    color: var(--main-color); 
    margin-bottom: 20px;
    text-align: center;
}

.community__content p {
    font-size: 1rem;
    color: var(--second-color); 
    margin-bottom: 20px;
    text-align: center;
}

.community__image img {
    width: 300px;
    border-radius: 10px; 
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(54, 100%, 93%);
}
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a .bx{
    padding:  5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}
.social a .bx:hover{
    background: var(--main-color);
}
.links{
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center;
}
